@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
  line-height: 1.2;
  background-color: #e74d3c0e;
  font-family: "Merriweather", serif;
  color: #555;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.header-content {
  width: 100%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header h1 {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 400;
}

.header h1 span {
  font-weight: 900;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f45c43c0,
    #eb3348c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f45c43c0, #eb3349c0);
  -webkit-background-clip: text;
  color: transparent;
}

.header p {
  font-size: 4rem;
  padding-top: 2rem;
}

.arrow {
  margin: 0 auto;
  margin-top: 10rem;
  animation-name: down;
  animation-duration: 2s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}
.btn-1 {
  margin: 0 auto;
  margin-top: 2rem;
  outline: none;
  border: none;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn-1 {
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

@keyframes down {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    transform: translateY(1rem);
  }
  50% {
    opacity: 1;
    transform: translateY(2rem);
  }
  75% {
    opacity: 1;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
/* ------------------------- Animations ---------------------------- */

.container {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f45c43,
    #eb3348
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f45c43, #eb3349);
  animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.text-wrapper {
  color: white;
  position: absolute;
}

.text {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 5.4rem;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.text-1 {
  animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

.text-2 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-3 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-4 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-5 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-6 {
  animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s,
    slide-out 1s linear 3.2s;
  opacity: 0;
}

.text-7 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-8 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-9 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-10 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-11 {
  animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

@keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slide-out-container {
  0% {
    width: 100vw;
  }

  40% {
    width: 100vw;
  }

  99.9% {
    width: 0.1vw;
  }

  100% {
    width: 0%;
  }
}

@media (max-width: 990px) {
  .header {
    font-size: 2.4rem;
  }

  .text {
    font-size: 2.4rem;
  }
}

/* --------------- Media Queries ----------------------- */
@media (max-width: 600px) {
  .header h1 {
    font-size: 3rem;
  }
  .header p {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .btn {
    padding: 1rem 3rem;
    font-size: 1.4rem;
  }
}

/* ------------------------- About me ------------------------------- */

.about {
  padding: 7rem;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f45c43c0,
    #eb3348c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f45c43c0,
    #eb3349c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

.image {
  border: none;
  padding: 2rem;
}

.my-img {
  height: 40rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.548);
}

.about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5rem;
}

.about-content h2 {
  font-size: 4rem;
  text-align: left;
  padding-bottom: 4rem;
}

.about-content p {
  font-size: 2rem;
}

.resume a {
  text-decoration: none;
  color: #fff;
  transition: all 2s ease;
}

.resume {
  font-size: 1.7rem;
  padding: 1rem 3rem;
  margin-right: 70%;
  margin-top: 2rem;
  background-color: #555;
  outline: none;
  border: 1rem solid #555;
  cursor: pointer;

  transition: all 1s ease;
}
.resume:hover {
  box-shadow: 0.2rem 0.2rem 0.8rem #555;
}

/* --------------- Media Queries ----------------------- */
@media (max-width: 1300px) {
  .image {
    padding: 1rem;
  }
  .my-img {
    height: 37rem;
  }

  .about-content {
    width: 75%;
    padding: 3rem;
  }
}

@media (max-width: 1150px) {
  .my-img {
    height: 35rem;
  }

  .about-content {
    width: 75%;
    padding: 3rem;
  }
}

@media (max-width: 1050px) {
  .image {
    padding: 1rem;
  }
  .my-img {
    height: 35rem;
  }

  .about-content {
    width: 80%;
    padding: 3rem;
  }
  .about-content h2 {
    font-size: 3.5rem;
    padding-bottom: 2.5rem;
  }

  .about-content p {
    font-size: 1.7rem;
  }
}

@media (max-width: 850px) {
  .about {
    padding: 7rem 1rem;
    display: flex;
    justify-content: center;
  }
  .image {
    padding-top: 3rem;
  }
  .my-img {
    height: 30rem;
  }

  .about-content {
    width: 90%;
    padding-right: 1rem;
  }
  .about-content h2 {
    font-size: 3.3rem;
    padding-bottom: 2rem;
  }

  .about-content p {
    font-size: 1.7rem;
  }
}

@media (max-width: 700px) {
  .about {
    height: 90vh;
    padding: 6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .image {
    padding-top: 5rem;
  }
  .my-img {
    height: 28rem;
  }

  .about-content {
    width: 90%;
    padding-right: 1rem;
  }
  .about-content h2 {
    font-size: 3.3rem;
    padding-bottom: 2rem;
  }

  .about-content p {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  .about {
    height: 100vh;
    padding: 5rem 1rem;
  }
  .image {
    padding-top: 5rem;
  }
  .my-img {
    height: 25rem;
  }

  .about-content {
    width: 90%;
    padding-right: 1rem;
  }
  .about-content h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }
  .resume {
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: center;
  }
}
/* ------------------------------ Projects ---------------------------- */
.projects {
  margin: 10rem 0rem;
}

.project-heading {
  font-size: 5rem;
  display: block;
  text-align: center;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f45c43c0,
    #eb3348c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f45c43c0, #eb3349c0);
  -webkit-background-clip: text;
  color: transparent;
}

.project-list {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.project-list:last-child {
  margin-bottom: 25rem;
}

.project-img {
  height: 30rem;
  filter: brightness(70%);
  filter: blur(1px);
  transition: all 0.6s ease;
}

.project-img:hover {
  transform: scale(1.05) skewX(1deg) skewY(-1deg);
  box-shadow: 1rem 1rem 1rem rgba(51, 51, 51, 0.548);
  filter: brightness(100%);
}

.info {
  font-size: 1.8rem;
  margin: 5rem;
  width: 40%;
}

.info h1 {
  padding-bottom: 2rem;
}

.links {
  margin-top: 5rem;
}

.links a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
  font-size: 1.5rem;
  border-radius: 5rem;
  padding: 1rem 2rem;
  background: #eb3349;
  background: -webkit-linear-gradient(to left, #f45c43c0, #eb3349c0);
  background: linear-gradient(to left, #f45c43c0, #eb3349c0);

  transition: all 0.4s ease;
}

.links a:hover {
  background-color: #888;
}

/* --------------- Media Queries ----------------------- */
@media (max-width: 950px) {
  .project-list {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .info {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .info {
    width: 70%;
  }
  .project-img {
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .info {
    width: 90%;
  }
  .project-img {
    height: 15rem;
  }
  .info {
    font-size: 1.6rem;
  }
  .info p {
    font-size: 1.5rem;
  }
  .links a {
    font-size: 1.3rem;
    padding: 1rem 1.8rem;
  }
}
@media (max-width: 350px) {
  .info {
    width: 90%;
  }
  .project-img {
    height: 12rem;
  }
}
/* ---------------------- Contacts ------------------ */

.contacts {
  height: 60vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f45c43c0,
    #eb3349c0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f45c43c0,
    #eb3349c0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}

.contacts ul li {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  margin: 2rem;
  margin-top: 5rem;

  transition: all 0.5s ease-out;
}

.contacts h2 {
  font-size: 5rem;
}

.contacts ul li a img {
  height: 4rem;
}
.contacts ul li:hover {
  background-color: #eb3348a1;
}

/* -------------------- Footer ----------------------- */

@media (max-width: 475px) {
  .contacts ul li {
    font-size: 1.6rem;
  }

  .contacts h2 {
    font-size: 3rem;
  }

  .contacts ul li a img {
    height: 2rem;
  }
}
